html,body {
  box-sizing: border-box;
  margin: 0;
  border: solid;
  color: aliceblue;
  background-color:rgb(211, 71, 90);
}
nav > a > img {
  width: 5%;
  height: 5%;
}
.logo > img {
  margin-top: 3.3rem;
  width: 100%;
  height: 350px;
}

#logo {
  width: 2%;
  height: 10%;
}
.imgb {
  display: flex;
  justify-content: space-evenly;
  height: 320px;
   ;
}

.imgb > div {
  border-radius: 5px;
  border: solid rgb(196, 164, 25);
  height: 100%;
  width: 273px;
  background: rgb(221, 192, 217);
  color: rgb(3, 2, 2);
  margin-bottom:10px;
}
.imgb > div > p {
  padding: 5px;
}

.imgb > div > img {
  width: 270px;
  height: 160px;
  border-radius: 9px;
  padding: 0.2rem;
}

.resp{
 display: flex;
 flex-wrap: wrap;
}

.promo1 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 40vh 35vh;
  grid-template-areas:
    'h m m'
    'h f f';
  background-color: orange;
  border-radius: 9px;
  padding: 1rem;
}
.h {
  grid-area: h;
  padding-top: 30px;
  text-align: center;
  align-self: center;
}
.m {
  grid-area: m;
}
.m > img {
  grid-area: m;
  height: 100%;
  width: 100%;
  padding: 2px;
  border-radius: 9px;
 
}
.f {
  grid-area: f;
}
.f > img {
  height: 100%;
  width: 50%;
  padding: 2px;
  border-radius: 9px;
}


.aventura{
  display:grid;
  grid-template-columns: 2fr 1fr 1fr ;
  grid-template-rows: 20vh 35vh ;
  grid-template-areas: "ceu ceu esc"
                       "des tri esc";
  background-color: rgb(118, 143, 27);
  border-radius: 9px;
  padding: 12px;
}
.aventura > div > img{
  width: 100%;
  height: 100%;
  border-radius: 9px;
  padding: 5px;
}
.des{
  grid-area: des;
}
.ceu{
  grid-area: ceu;
}
.esc{
  grid-area: esc;
}
.tri{
  grid-area: tri;
}

.diversao{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.diversao > div > img{
  height: 170px;
  width: 270px;
  border-radius: 9px;
  padding-bottom: 10px;
  
}


footer{
  background-color:#094074;
  text-align: center;
  color: white;
}
footer > img{
  
  width: 300px;
    align-items: center;
}

.ajuda{
  display: none;
}

@media (max-width:999px){
  .ajuda{
    display:list-item ;
  }
}
@media (max-width:953px)and( min-width:798px){
  .ajuda1{
    display:list-item ;
  }
}